---

---

<div class="flex -space-x-4">
  <div class="flex mb-5 -space-x-4">
    <img
      class="w-10 h-10 border-2 bg-indigo-300 border-white rounded-full dark:border-gray-800"
      src="https://i.pravatar.cc/100?img=3"
      alt=""
    />
    <img
      class="w-10 h-10 border-2 bg-indigo-300 border-white rounded-full dark:border-gray-800"
      src="https://i.pravatar.cc/100?img=5"
      alt=""
    />
    <img
      class="w-10 h-10 border-2 border-white bg-indigo-300 rounded-full dark:border-gray-800"
      src="https://i.pravatar.cc/100?img=6"
      alt=""
    />
    <img
      class="w-10 h-10 border-2 border-white bg-indigo-300 rounded-full dark:border-gray-800"
      src="https://i.pravatar.cc/100?img=7"
      alt=""
    />
  </div>
  <div class="flex -space-x-4">
    <img
      class="w-10 h-10 border-2 border-white bg-indigo-300 rounded-full dark:border-gray-800"
      src="https://i.pravatar.cc/100?img=8"
      alt=""
    />
    <img
      class="w-10 h-10 border-2 border-white bg-indigo-300 rounded-full dark:border-gray-800"
      src="https://i.pravatar.cc/100?img=9"
      alt=""
    />
    <img
      class="w-10 h-10 border-2 border-white bg-indigo-300 rounded-full dark:border-gray-800"
      src="https://i.pravatar.cc/100?img=10"
      alt=""
    />
    <a
      class="flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600 dark:border-gray-800"
      href="#">+50</a
    >
  </div>
</div>
