---

---

<div class="p-6 py-12 bg-indigo-100 text-gray-700">
  <div class="container mx-auto">
    <div class="flex flex-col lg:flex-row items-center justify-between">
      <div>
        <h2 class="text-center text-3xl tracki font-bold">
          Receive a <span class="text-indigo-600">10%</span> discount on your
          first wash!
        </h2>
      </div>

      <a
        href="#"
        rel="noreferrer noopener"
        class="px-5 mt-4 lg:mt-0 py-3 rounded-md border block bg-gray-900 hover:bg-gray-600 text-gray-50 border-gray-600"
        >Join the Waitlist</a
      >
    </div>
  </div>
</div>
