---

---

<section id="process" class="bg-white text-gray-800 lg:mb-32">
  <div class="container mx-auto p-4 my-6 space-y-2 text-center">
    <h2 class="text-5xl font-bold uppercase">
      <span class="text-indigo-600">Simple</span> Process
    </h2>
    <p class="text-gray-600">We keep our process simple</p>
  </div>
  <div
    class="container mx-auto grid justify-center gap-4 sm:grid-cols-2 lg:grid-cols-3"
  >
    <div class="flex flex-col items-center p-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-20 h-20 text-indigo-600"
        fill="currentColor"
        viewBox="0 0 256 256"
        ><path
          d="M223.68,66.15,135.68,18a15.88,15.88,0,0,0-15.36,0l-88,48.17a16,16,0,0,0-8.32,14v95.64a16,16,0,0,0,8.32,14l88,48.17a15.88,15.88,0,0,0,15.36,0l88-48.17a16,16,0,0,0,8.32-14V80.18A16,16,0,0,0,223.68,66.15ZM128,32l80.34,44-29.77,16.3-80.35-44ZM128,120,47.66,76l33.9-18.56,80.34,44ZM40,90l80,43.78v85.79L40,175.82Zm176,85.78h0l-80,43.79V133.82l32-17.51V152a8,8,0,0,0,16,0V107.55L216,90v85.77Z"
        ></path></svg
      >

      <h3 class="my-3 text-2xl uppercase font-semibold">Pick a Package</h3>
      <div class="space-y-1 leadi">
        <p>Similique quas ea veniam</p>
        <p>Tempore quasi porro</p>
        <p>Blanditiis aut mollitia ex</p>
      </div>
    </div>
    <div class="flex flex-col items-center p-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-20 h-20 text-indigo-600"
        fill="currentColor"
        viewBox="0 0 256 256"
        ><path
          d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-96-88v64a8,8,0,0,1-16,0V132.94l-4.42,2.22a8,8,0,0,1-7.16-14.32l16-8A8,8,0,0,1,112,120Zm59.16,30.45L152,176h16a8,8,0,0,1,0,16H136a8,8,0,0,1-6.4-12.8l28.78-38.37A8,8,0,1,0,145.07,132a8,8,0,1,1-13.85-8A24,24,0,0,1,176,136,23.76,23.76,0,0,1,171.16,150.45Z"
        ></path></svg
      >
      <h3 class="my-3 text-2xl uppercase font-semibold">Pick a Date</h3>
      <div class="space-y-1 leadi">
        <p>Similique quas ea veniam</p>
        <p>Tempore quasi porro</p>
        <p>Blanditiis aut mollitia ex</p>
      </div>
    </div>
    <div class="flex flex-col items-center p-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-20 h-20 text-indigo-600"
        fill="currentColor"
        viewBox="0 0 256 256"
        ><path
          d="M136,80v43.47l36.12,21.67a8,8,0,0,1-8.24,13.72l-40-24A8,8,0,0,1,120,128V80a8,8,0,0,1,16,0Zm88-24a8,8,0,0,0-8,8V82c-6.35-7.36-12.83-14.45-20.12-21.83a96,96,0,1,0-2,137.7,8,8,0,0,0-11-11.64A80,80,0,1,1,184.54,71.4C192.68,79.64,199.81,87.58,207,96H184a8,8,0,0,0,0,16h40a8,8,0,0,0,8-8V64A8,8,0,0,0,224,56Z"
        ></path></svg
      >
      <h3 class="my-3 text-2xl uppercase font-semibold">12HR Turnaround</h3>
      <div class="space-y-1 leadi">
        <p>Similique quas ea veniam</p>
        <p>Tempore quasi porro</p>
        <p>Blanditiis aut mollitia ex</p>
      </div>
    </div>
  </div>
</section>
